body {
	color: $light;
	background-color: $dark2;

	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;
}
