body {
	color: $light;
	background-color: $dark2;

	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;
}

.no-todos {
	margin: 1rem;
	font-size: 0.8rem;
	text-align: center;
	color: $secondary;
	opacity: 50%;
}
