$font-family: Arial, Helvetica, sans-serif;

$primary: #61afef;
$secondary: #abb2bf;
$success: #98c379;
$danger: #e06c75;
$dark: #282c34;
$light: #eceff4;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
