@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

$font-stack: 'Fira Code', monospace;

$primary: #61afef;
$secondary: #abb2bf;
$success: #98c379;
$danger: #e06c75;
$dark: #282c34;
$dark2: #21252b;
$light: #eceff4;

* {
	font-family: $font-stack;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
