.todo-tab {
	background-color: $secondary;
	border: none;
	padding: 0.6rem;
	color: $light;

	&[data-active='true'] {
		background-color: green;
	}

	&:hover {
		background-color: adjust-color($color: $secondary, $lightness: -5%);
	}
}

.container {
	display: flex;
	justify-content: space-around;
	padding: 0.4rem;
}
