.todo-card {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
	width: 24rem;

	background-color: $dark;
	padding: 0.6rem;

	span:nth-child(2) {
		display: flex;
		gap: 0.4rem;
	}
}

.todo-card_text {
	width: 60%;
}

.todo-card_btn {
	color: $dark;
	font-size: 0.8rem;
	background-color: $light;
	border: none;
	padding: 0 0.4rem;
	border-radius: 0.25rem;

	&:hover {
		outline: 1px solid $light;
	}
}

.todo-card_x {
	background-color: $danger;
	min-height: 2rem;
	min-width: 2rem;
}

.todo-card_complete {
	background-color: $success;
}

.todo-card_inprogress {
	background-color: $primary;
}

.todo-card_notstarted {
	background-color: $secondary;
	flex-shrink: 0;
}
