.todo-tab {
	background-color: $dark;
	border: none;
	padding: 0.6rem;
	color: $light;

	&:hover {
		background-color: adjust-color($color: $dark, $lightness: 5%);
	}
}

.container {
	display: flex;
	justify-content: space-around;
	padding: 0.4rem;
}
