.todo-tab {
	background-color: $primary;
	border: none;
	padding: 0.4rem;
	color: $light;
	margin-left: 0.4rem;

	&:hover {
		background-color: adjust-color($color: $primary, $lightness: -5%);
	}

	&:active {
		background-color: adjust-color($color: $primary, $lightness: -10%);
	}
}
