.todo-card {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: $dark;
	padding: 0.4rem;
	margin: 0.2rem;
}

.todo-card_text {
	display: flex;
	justify-content: center;
}

.todo-card_btn {
	color: $dark;
	background-color: $light;
	border: none;
	padding: 0 0.2rem;

	&:hover {
		outline: 1px solid $light;
	}
}

.todo-card_x {
	background-color: $danger;
}

.todo-card_complete {
	background-color: $success;
}

.todo-card_inprogress {
	background-color: $primary;
}

.todo-card_notstarted {
	background-color: $secondary;
}
